ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

 li a {
    display: block;
    width: 60px;
}

li {
    border-right: 1px solid #bbb;
}

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;#f1f1f1;
    background-color: 
}

li a {
    display: block;
    color:;
}

li:last-child {
    border-right: none;
}

 ul {
    position: fixed;
    top: 0;
    width: 100%;
}


ul {
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li a {
    color: orange;